body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0;
    /*border: 0;*/
}

/*#main {*/
/*    alignment: center;*/
/*    max-width: 200px;*/
/*    background-color: #88dcfb;*/
/*}*/

#main-title {
    /*background-color: #2DAAE4;*/
    padding-right: 40px;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: grey;
}

/* selected link */
a:active {
    color: black;
}

#banner {
    /*box-shadow: 0 10px 8px black;*/
    position: fixed;
    width: 100%;
    /*background-color: #e88573;*/
    /*max-width: 1000px;*/
    /*background-color: rgb(29,29,29);*/
    /*display: grid;*/
    /*justify-content: space-around;*/
}

#menu {
    /*background-color: #edbed1;*/
    text-decoration: none;
    text-decoration-line: none;
    padding: 0px 0px;
}

#banner-child-1 {
    /*text-align: left;*/
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 20px 40px;
}

#content {
    max-width: 1000px;
    margin: auto;
    /*padding: 160px 40px;*/
    padding: 150px 40px;
}

footer {
    padding: 40px;
    margin: auto;
    max-width: 1000px;
    /*text-align: center;*/
}

@media only screen and (min-width: 768px) {
    /*#banner-child-1 {*/
    /*    !*display: grid;*!*/
    /*}*/

    /*#content {*/
    /*    padding: 150px 40px;*/
    /*}*/
}